<!DOCTYPE html>
<html>
    <head>
        <title>Attendance</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='attendance.css') }}">

    </head>
    <body>
        <h2>Mark Attendance</h2>
        <h3 style="text-align:center;">Logged in as:{{ session['user'] }}</h3>
    <form action="/attendance" method="POST">
       
        <br><br>
        <input type="date" name="date" required>
        <br><br>
        <select name="status">
            <option value="Present">Present</option>
            <option value="Absent">Absent</option>

        </select>
        <br><br>
        <input type ="hidden" name="latitude" id="lat">
        <input type="hidden"  name="longitude" id="lon">
        <button type="submit" onclick="return checkLocation()">Submit</button>
    </form>
    <br>
    <a href="/dashboard">Back to dashboard</a>
    <script>
    navigator.geolocation.getCurrentPosition(
    function(position){
        document.getElementById("lat").value = position.coords.latitude;
        document.getElementById("lon").value = position.coords.longitude;
    },
    function(error){
        alert("Please allow location access to mark attendance");
    }
);
    function checkLocation() {
        let lat = document.getElementById("lat").value;
        let lon = document.getElementById("lon").value;
        if (lat ==="" || lon ===""){
            alert("Location not captured yet. Please wait or allow location.");
            return false;
        }
        return true;
    }
</script>
     </body>
</html>