<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='dashboard.css') }}">
</head>
<body>
   <div class="container">

    <h1>Welcome to Dashboard</h1>
    <h2>Welcome {{ session['user'] }}</h2>

    <h3>Admin Dashboard</h3>

    <div class="btn-group">
        <a href="/view_attendance">
            <button>View All Attendance</button>
        </a>

        <a href="/add_user">
            <button>Add Employee</button>
        </a>

        <a href="/view_users">
            <button>View Users</button>
        </a>

        <a href="/logout">
            <button class="logout">Logout</button> 
        </a>
    </div>

   </div>
</body>
</html>


