<!DOCTYPE html>
<html>
    <head>
        <title>Employee Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    </head>
    <body>
        <div class="container">
        <h1>Employee Dashboard</h1>
        <h2>Welcome {{ session['user'] }}</h2>
        <div class="btn-group">

        <a href="/attendance">
            <button>Mark Attendance</button>
        </a>
        <a href="/view_attendance">
            <button>View My Attendance</button>
        </a>
        <a href="/logout">
            <button>Logout</button>
        </a>

    </div>

</div>
 </body>
</html>